<!DOCTYPE html>
<html lang="en">
<header th:replace="~{fragments/header :: head(${model.base.pageTitle})}"></header>

<body class="d-flex flex-column min-vh-100">
<h1 class="text-center mb-4">Создание профиля</h1>
<form th:action="@{/visitor/create}" th:object="${form}" method="post" class="row g-3">
    <div class="col-md-8 offset-md-2">
        <label for="surname" class="form-label">Фамилия</label>
        <input type="text" th:field="*{surname}" id="surname" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
    </div>
    <div class="col-md-8 offset-md-2">
        <label for="firstname" class="form-label">Имя</label>
        <input type="text" th:field="*{firstname}" id="firstname" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
    </div>
    <div class="col-md-8 offset-md-2">
        <label for="patronymic" class="form-label">Отчество</label>
        <input type="text" th:field="*{patronymic}" id="patronymic" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>
    </div>
    <div class="col-md-8 offset-md-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" th:field="*{email}" id="email" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="col-md-8 offset-md-2">
        <label for="phone" class="form-label">Телефон</label>
        <input type="text" th:field="*{phone}" id="phone" class="form-control">
        <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>
    <div class="col-md-8 offset-md-2 text-center">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>