<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{fragments/header :: head(${model.base.pageTitle})}"></header>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Информация о категории</h1>
                </div>
                <div class="row bg-light rounded p-3">
                    <h2>Категория</h2>
                    <h4 th:text="'Название: ' + ${model.category.name}">Название: Пример категории</h4>
                    <h4 th:text="'Описание: ' + ${model.category.description}">Описание: Описание категории</h4>
                </div>
                <div class="mt-3">
                    <a class="btn btn-secondary" th:href="@{/category}">Назад к списку</a>
                </div>
            </main>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
